<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>319934682359-kmpbqt33g5tlji0in3md24i7qtg9i888.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319934682359-kmpbqt33g5tlji0in3md24i7qtg9i888</string>
	<key>API_KEY</key>
	<string>AIzaSyBG7LK0E4niXv7GmxmG10PMSi-yXFVPRYU</string>
	<key>GCM_SENDER_ID</key>
	<string>319934682359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.will-han.on-the-spot</string>
	<key>PROJECT_ID</key>
	<string>on-the-spot-fcff7</string>
	<key>STORAGE_BUCKET</key>
	<string>on-the-spot-fcff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319934682359:ios:6bc112820e1bda6c</string>
	<key>DATABASE_URL</key>
	<string>https://on-the-spot-fcff7.firebaseio.com</string>
</dict>
</plist>